*{
   margin: 0px;
   padding:0px;
   border:0px;
}

body{
  background: #ffffff;
  background:-moz-linear-gradient(top, #ffffff 0%, #6d93f5 100%);
  background:-webkit-linear-gradient(top, #ffffff 0%, #6d93f5 100%);	
  background:linear-gradient(to bottom, #ffffff 0%, #6d93f5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#6d93f5',GradientType=0);
}
h1{
	font-family:'Ubuntu', sans-serif;
	text-align:center;
	font-size:50px;
	margin-bottom:30px;
}

.container{
	position:relative;
	max-width:635px;
	width:100%;
	margin: 100px auto 0 auto;
}
.slider img{
   padding: 15px;
   border:1px solid #cccccc;
   background: #bbbbbb;
}

.fas{
 font-size:25px;
 color:#ffffff;

}

#nav{
	list-style-type:none;
	z-index:150;
}

#nav li a{
	display:block;
	width:50px;
	padding-top:10px;
	text-align:center;
	box-sizing: border-box;
	outline:none;

}

#prev a{
	position: absolute;
	top:260px;
	left:16px;
	width:50px;
	height:50px;
	background: #6d93f5;
	z-index: 50;
	opacity:0;
	transition: opacity 1s;
}

#next a{
	position: absolute;
	top:260px;
	right:-22px;
	width:50px;
	height:50px;
	background: #6d93f5;
	z-index: 50;
	opacity:0;
	transition: opacity 1s;
}
#prev a:hover, #next a:hover, .slider:hover + #nav li a{
	opacity:1;
	z-index: 50;
}
#next a:hover{
	background: #6387e2;
}
#prev a:hover{
	background: #6387e2;
}